text-style {
    display: inline-block;
    font-style: normal;
    font-weight: 1000;
    text-shadow: 1px 1px 0px black, 0px 0px 2px black, 1px 1px 2px black;
    color: white;

    &[text="prestige"] {
        color: #00ffff;
    };

    &[text="fish"] {
        color: #ffa500;
    };

    &[text="shark"] {
        color: #93a3ac;
    };

    &[text="coral"] {
        color: coral;
    };

    &[text="ice"] {
        color: skyblue;
    };

    &[text="salt"] {
        color: whitesmoke;
    };

    &[text="snow"] {
        color: snow;
    };

    &[text="kelp"] {
        color: #bd9159;
    };

    &[text="red"] {
        color: red;
    };
    &[text="green"] {
        color: limegreen;
    };
    &[text="gold"] {
        color: gold;
    };

    @supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
        &[text="core"],
        &[text="humanoid"],
        &[text="black-hole"] {
            filter: drop-shadow(1px 1px black) drop-shadow(0px 0px 1px black);
            text-shadow: none;
        };

        &[text="core"] {
            background: radial-gradient(circle, #feff00 0%, #ff5500 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        };
        &[text="humanoid"] {
            background: linear-gradient(#003001, #00FF03, #003001);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        };
        &[text="black-hole"] {
            background: linear-gradient(magenta, magenta, purple, magenta, magenta);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        };
    };
};